<div class="container">
<h3>Usuario</h3>
<div class="col-md-2">
	<%=gravatar_image_tag( current_user.email)%>
</div>
<div class="col-md-5">
	<p>Usuario: <%= @user.name %></p>
	<p>Email: <%= @user.email if @user.email %></p>
</div>
<div class="col-md-4">
	<%= link_to 'Editar cuenta', edit_user_path %>
</div>

	
</div>
