<!--...................................SECCION iNICIO..................................-->
	<section class="color">
		<div class="row">
			<div class="col-md-6">
				<span class="icon "><i class="fa fa-bolt "></i></span>
			</div>
			
			<div class="col-md-6">
				<h1><strong>Proyecto Cubo Leds </strong></h1>

				<p>Siempre decimos aqui que donde hay un led hay alegría y es aún más cierto con este impresionante cubo de LED de 8x8x8 . </p>

				<p>El corazón del sistema es un Arduino UNO que con la ayuda de unos cuantos componentes es capaz de mostrar unas animaciones realmente espectaculares. 
				</p>
				<p>Eso si, hay que tener bastante paciencia para soldar sus 512 diodos LED y luego la placa que los controla, pero no deja de tener cierto encanto!</p>
			</div>
	</section>

<!--...................................SECCION INTRODUCCION....................................-->
	<section  class="ss-style-doublediagonal ">
		hola

	</section>

<!--...................................SECCION PABLO DENIS....................................-->
	<section class="color  ss-style-halfcircle">
		<div>
			<h2>Sistema de mapeo y secuneciacion de datos para dysplays tridimensionales con arduino</h2>
			<p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small </p>
		</div>
	</section>
	<section class="color ss-style-dots">
		<div class=" container">
			<div class="row">
				<div class="col-md-6">
					<span class="icon "><i class="fa fa-sort-amount-asc "></i></span>
				</div>
				<div class="col-md-6">
					<span class="icon "><i class="fa fa-sort-amount-asc "></i></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<p>Denis Martin</p>
				</div>
				<div class="col-md-6">
					<p>Pablo najera</p>
				</div>
			</div>
		</div>
	</section>




<!--.................................SECCION RAMON BORJITA DAVID.............................-->

	<section class=" ss-style-roundedges">
		<div>
			<h2>Protocolo de comunicación en tiempo real de sistemas ininterrumpidos</h2>
			<p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small </p>
		</div>
	</section>
	<section>
		<div class=" container">
			<div class="row">
				<div class="col-md-4">
					<span class="icon icon-images"><i class="fa fa-sort-amount-asc "></i></span>
				</div>
				<div class="col-md-4">
					<span class="icon icon-images"><i class="fa fa-sort-amount-asc "></i></span>
				</div>
				<div class="col-md-4">
					<span class="icon icon-images"><i class="fa fa-sort-amount-asc "></i></span>
				</div>
			</div>

			<div class="row">
				<div class="col-md-4">
					<p>Ramon Quintero Carmona</p>
				</div>
				<div class="col-md-4">
					<p>Borjita Moreno</p>
				</div>
				<div class="col-md-4">
					<p>David Moreno Moreno</p>
				</div>
			</div>
		</div>
	</section>



<!--...................................SECCION FIN....................................-->
	<section class="color ss-style-castle">
		<h2>Engage worldwide methodologies </h2>
		<p>Galaxies a still more glorious dawn awaits shores of the cosmic ocean bits of moving fluff the only home we've ever known finite but unbounded colonies astonishment laws of physics a very small stage in a vast cosmic arena brain is the seed of intelligence realm of the galaxies Apollonius of Perga rogue intelligent beings courage of our questions made in the interiors of collapsing stars laws of physics how far away, rings of Uranus the carbon in our apple pies rings of Uranus a very small stage in a vast cosmic arena brain is the seed of intelligence preserve and cherish that pale blue dot muse about, globular star cluster ship of the imagination shores of the cosmic ocean, as a patch of light? Ship of the imagination, with pretty stories for which there's little good evidence across the centuries, brain is the seed of intelligence muse about, Vangelis hydrogen atoms?</p>
	</section>


<!--...................................SVG NUBES.......................................-->
	<svg id="stamp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
		<path d="M0 0 Q 2.5 40 5 0 
				 Q 7.5 40 10 0
				 Q 12.5 40 15 0
				 Q 17.5 40 20 0
				 Q 22.5 40 25 0
				 Q 27.5 40 30 0
				 Q 32.5 40 35 0
				 Q 37.5 40 40 0
				 Q 42.5 40 45 0
				 Q 47.5 40 50 0 
				 Q 52.5 40 55 0
				 Q 57.5 40 60 0
				 Q 62.5 40 65 0
				 Q 67.5 40 70 0
				 Q 72.5 40 75 0
				 Q 77.5 40 80 0
				 Q 82.5 40 85 0
				 Q 87.5 40 90 0
				 Q 92.5 40 95 0
				 Q 97.5 40 100 0 Z">
		</path>
	</svg>

<!--...................................SECCION FOOTTER....................................-->
	<div>
		<div class=" container">
			<div class="row">
				<div class="col-md-6">
					<p>David Moreno Moreno</p>
				</div>
				<div class="col-md-6">
					<h4>Tecnologías:</h4>
					<p>
						<i class="fa fa-html5 fa-4x "></i>
						<i class="fa fa-css3 fa-4x"></i>
						<i class="fa fa-github fa-4x"></i>
						<i class="fa fa-linux fa-4x"></i>
					</p>
				</div>
			</div>
		</div>
	</div>

	

<div >
	<a id='IrArribahome' href='#Arriba'><i class="fa fa-chevron-up fa-3x"></i></a>
</div>
 