<html>
	<body>
		<p>Hola Admin, soy <strong><%= @message.Nombre %></strong>. 
		Mi Email es <strong><%= @message.Email %></strong></p>




Asunto
<%= @message.Asunto %>

Cuerpo
<%= @message.Body %>

	</body>
</html>