<header class="clearfix">
				<span>Proyecto <span class="fa fa-code-fork fa-1x" data-content="Este es un proyecto desarrollado para Modulo superior de Desarrollo de Aplicaciones Multiplataforma del colegio Santo Domingo Savio de Madrid. Promoción 2013-1014"></span></span>
				<h1>Cubo de LED's</h1>
				<nav>
					<a href="https://www.youtube.com/watch?v=ZBxHqHhS8Jw"  data-info="You Tube"><i class="fa fa-youtube-square fa-2x"></i></a>
					<a href="https://github.com/dmorenodev/Cubo-Leds-proyects"  data-info="Git Hub"><i class="fa fa-github-square fa-2x"></i></a>
					<a href="https://bitbucket.org/proyectocuboled/cubeled/src" data-info="Bitbuket"><i class="fa fa-bitbucket fa-2x"></i></a>
					<a href="https://twitter.com/da17mo" data-info="Twitter"><i class="fa fa-twitter fa-2x"></i></a>
				</nav>
</header>	